*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    height: 100svh;
    display: grid;
    place-items: center;
}

/* CHECKBOX CONFIGURATIONS */
.check {
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    gap: .5em;

    cursor:pointer;

    &:hover input::before {
        background-color: #f5e2e2;

    }

    input {
        /* accent-color: rebeccapurple; */
        appearance: none;
        -webkit-appearance: none;

        /* Fokus på span. Vid användning utav plus + istället för tilde ~ så är det Fokus på span, 
        men allt emellan stoppar, så det är nästan mer som fokus till span.*/
        &:focus-visible ~ span {
            outline: 3px solid #ff9725;
        }
    }

    /* Skapa en Checkbox funktion efter att man dolt rutan. */
    input::before {
        content:'';
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        aspect-ratio: 1/1;
        border: 1px solid #333;
        border-radius: .3rem;
        cursor: pointer;
    }

    input[type="checkbox"]:checked::before {
        /* content: 'OK'; */
        content: '\002714'; /* Checkmark */
        background-color: #ff9725;
        /* color: #fff; */
    }
}
/* I check finns det en input och när den är i focus-visible så vill jag använda den till span */
/* .check input:focus-visible ~ span {

} */ /* Är likadant som att skapa en nästad version ovan, men här hanteras specifikt span. */

/* TOGGLE CONFIGURATIONS */
.toggle {

}

