<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous"> -->
    
    <!-- SEO META       >>  --> <meta name="description" content="  DESCRIBE THE SITE HERE   ">
    <!-- F.AWE CDN      >>  --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" integrity="sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- F.AWE LINK     >>  --> <!-- <a href="https://cdnjs.com/libraries/font-awesome">FontAwesome Sideload Site</a> -->
    <!-- BOOTSTRAP      >>  --> <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <!-- TAILWITND      >>  --> <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- MAIN CSS FILE  >>  --> <link rel="stylesheet" href="./css/main.css">
    <!-- FAVICON        >>  --> <!-- <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"> -->

    <title>  TEMPLATE TITLE  </title>

</head>
<body>
    <div class="epic_helper">

        <header>

            <nav>

            </nav>

        </header>

        <main>

            <section>

            </section>

        </main>

        <footer>

        </footer>

    </div>

    <script src="./js/darkmode.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>