* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------------------------- TREDJE DELEN I VIDEON    */
.item2 {
    border: 1px dotted #333;
    background-color: rgb(188, 255, 255);
    padding: 1rem;
    display: grid;
    place-items: center;
}

/* .container2 {
    width: 80%;
    margin: 0 auto;
} */

/* Då aside i det här fallet har lägre prioritet, så kan det inte döljas, (display none) har lägre prioritet
som egen inställning utanför klassen item2 och display grid, därför behöver aside även den vara en klass för
att få en ökad prioritet och därefter placeras efter klassen item2. */
.aside {
    grid-area: aside;
    display: none;
}

header { grid-area: header; }
nav { grid-area: nav; }
aside { grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

.grid3 {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

/* Det här förändrar innehållet när man uppnår eller går över bredden 768 pixlar */
@media(min-width: 768px) {
    .aside {
        display: grid;
    }
    .grid3 {
        /* background-color: red; */
        grid-template-columns: 200px 1fr;
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside main"
        "aside main"
        "footer footer";
    }
}

/* -------------------------------------------- ANDRA DELEN I VIDEON    */
.container {
    width: 80%;
    margin: 0 auto;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.item1 {
    border: 1px dotted #333;
    background-color: rgb(188, 255, 255);
    padding: 1rem;
    /* ----------------------------------------- FLEX */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* ----------------------------------------- GRID */
    display: grid;
    place-items: center;
}

#item-1 {
    /* Object 1 från ruta 1 till 4 i bred. */
    grid-column: 1 / 4;
    /* Object 1 från ruta 1 till 3 i höjd. */
    grid-row: 1 / 3;
    /* Objekt lager prioritet */
    z-index: 1;
}
#item-2 {
    grid-column: 3 / 5;
    grid-row: 2/3;
    z-index: 2;
}
#item-3 {
    grid-column: 1/4;
    grid-row: 5;
}
#item-4 {
    grid-row: 3;
}
#item-5 {
    grid-column: 1/-1;
    grid-row: 4;
}
#item-6 {
    /* Objektets storlek */
    grid-column: 2/-1;
    grid-row: 2/6;

    /* Marinal runt objektet, inom objektet. */
    margin: 20px;
    /* Transparens av objektet */
    opacity: .6;
    /* Skugga runt objektet */
    box-shadow: 0 0 10px 2px #000000d3;
    z-index: 3;
}


/* -------------------------------------------- FÖRSTA DELEN I VIDEON   */

.grid1 {
    display: grid;
    
    /* Bra att komma ihåg är att 1rem = 16px */
    
    gap: 1rem;
    margin: 1rem;

    /* ------------------------------------------------- Kollumn kommandon */

    /* grid-template-columns: 100px 300px 500px; */
    /* grid-template-columns: 70% 30%; */
    /* grid-template-columns: 7fr 3fr; */
    /* grid-template-columns: 300px 1fr; */
    /* grid-template-columns: auto 1fr; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-auto-rows: minmax(200px, auto); */
}

.fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}
.fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}
.grid1 div {
    background-color: #dadada;
    padding: 1rem;
    border: 1px solid #333;
}
.grid1 div:nth-child(even) {
    background-color: #bbb;
}
