@charset "utf-8"; /* För Unicode tecken. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* För att ta bort highlights på objekt i touchlägen. */
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: middle;
}

body {
    @include text;
    font-size: 16px;
    color: #535656;
}