/* 
▄█    ▄▄▄▄███▄▄▄▄      ▄███████▄  ▄██████▄     ▄████████     ███        ▄████████ 
███  ▄██▀▀▀███▀▀▀██▄   ███    ███ ███    ███   ███    ███ ▀█████████▄   ███    ███ 
███▌ ███   ███   ███   ███    ███ ███    ███   ███    ███    ▀███▀▀██   ███    █▀  
███▌ ███   ███   ███   ███    ███ ███    ███  ▄███▄▄▄▄██▀     ███   ▀   ███        
███▌ ███   ███   ███ ▀█████████▀  ███    ███ ▀▀███▀▀▀▀▀       ███     ▀███████████ 
███  ███   ███   ███   ███        ███    ███ ▀███████████     ███              ███ 
███  ███   ███   ███   ███        ███    ███   ███    ███     ███        ▄█    ███ 
█▀    ▀█   ███   █▀   ▄████▀       ▀██████▀    ███    ███    ▄████▀    ▄████████▀  
                                               ███    ███                          
*/

/* FONT - MANROPE | GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* CSS Imports */
/* 
@import url('/css/_utilities.css');
@import url('/css/_variables.css');
@import url('/css/_navbar.css'); 
*/


/* 
▄█    █▄     ▄████████    ▄████████  ▄█     ▄████████ ▀█████████▄   ▄█          ▄████████    ▄████████ 
███    ███   ███    ███   ███    ███ ███    ███    ███   ███    ███ ███         ███    ███   ███    ███ 
███    ███   ███    ███   ███    ███ ███▌   ███    ███   ███    ███ ███         ███    █▀    ███    █▀  
███    ███   ███    ███  ▄███▄▄▄▄██▀ ███▌   ███    ███  ▄███▄▄▄██▀  ███        ▄███▄▄▄       ███        
███    ███ ▀███████████ ▀▀███▀▀▀▀▀   ███▌ ▀███████████ ▀▀███▀▀▀██▄  ███       ▀▀███▀▀▀     ▀███████████ 
███    ███   ███    ███ ▀███████████ ███    ███    ███   ███    ██▄ ███         ███    █▄           ███ 
███    ███   ███    ███   ███    ███ ███    ███    ███   ███    ███ ███▌    ▄   ███    ███    ▄█    ███ 
 ▀██████▀    ███    █▀    ███    ███ █▀     ███    █▀  ▄█████████▀  █████▄▄██   ██████████  ▄████████▀  
                          ███    ███                                ▀                                   
 */

 :root {

    /* Grayscale */
    --clr-gray-100: #f3f6ff; /* Light BG */
    --clr-gray-100-hsl: 224, 100%, 97%;
    --clr-gray-200: #EFF2FC; /* Secondary */
    --clr-gray-300: #E2E5F1; /* Divider, Border */
    --clr-gray-400: #D4D7E5; /* Forms Border */
    --clr-gray-500: #B4B7C9; /* Input Placeholder */
    --clr-gray-600: #9397AD; /* Muted Text */
    --clr-gray-700: #565973; /* Body Text */
    --clr-gray-800: #33354D; /* Navigation */
    --clr-gray-900: #0B0F19; /* Header, Dark */

    /* Brand */
    --clr-primary: #6366F1; /* Brand, Primary */
    --clr-secondary: #585C7B; /* Some Text */
    --clr-gradiant-1: #6366F1; /* 0% */
    --clr-gradiant-2: #8B5CF6; /* 50% */
    --clr-gradiant-3: #D946EF; /* 100% */
    --clr-almostblack-blue: #131022; /* Brand Fill */

    --clr-bg: #fff;
    --clr-bg-100: var(--clr-gray-100);
    --clr-bg-icons: #F3F6FF;
    --clr-text-body: var(--clr-gray-700);
    --clr-text-heading: var(--clr-gray-900);
    --clr-text-navigation: var(--clr-gray-800);

    /* System & Buttons */
    --clr-red: #EF4444; /* Error */
    --clr-green: #22C55E; /* Success */
    --clr-yellow: #FFBA08; /* Warning */
    --clr-blue: #4C82F7; /* Info */
    --clr-black: #000; /* Black Button */
    --clr-white: #fff;
    --clr-white-to-gray: #ffffff;
    /* Text Dark-Mode Transparency */
    --clr-tex-wh-o100: rgba(255, 255, 255, 1); /* S, M, L */
    --clr-tex-wh-o70: rgba(255, 255, 255, 0.7);
    --clr-tex-wh-o5: rgba(255, 255, 255, 0.05);
    /* Text Light-Mode */
    --clr-tex-gr-bl: rgb(88, 92, 123);
    --clr-tex-bl-bl: rgb(19, 16, 34);

    --clr-brand-btn: #6366F1; /* Brand, Primary */
    /* Logos */
    --clr-twitter: #1CA1F2; /* Twitter Blue */
    --clr-youtube: #FF0000; /* Youtube Red */

    --section-spacing: 4rem;
    --container-padding: 1rem;
    --transition-time: all 0.2s;
    --transition-general: 300ms;
    --br-m: 0.375em;
    --br-l: 0.5em;

    --linear-gradient-sc-sec: linear-gradient(355deg, 
    rgba(99,102,241,0.1) 0%, 
    rgba(218,70,239,0.05) 42%, 
    rgba(241,244,253,0.07) 83%
    );
    --linear-gradient-c-sec: linear-gradient(355deg, 
    rgba(99,102,241,0.1) 10%, 
    rgba(218,70,239,0.05) 50%, 
    rgba(241,244,253,0.07) 100%
    );

    /* NAVIGATION BAR COLOURS */
    --navbar-bg-light: rgba(255, 255, 255, 0); /* Semi-transparent white for light mode */
    --navbar-bg-dark: rgba(0, 0, 0, 0); /* Semi-transparent black for dark mode */
    --navbar-bg-light-scrolled: rgba(255, 255, 255, 1); /* Solid white for scrolled light mode */
    --navbar-bg-dark-scrolled: rgba(0, 0, 0, 1); /* Solid black for scrolled dark mode */
    --navbar-clr-light: var(--clr-gray-900); /* Text clr for light mode */
    --navbar-clr-dark: var(--clr-white); /* Text clr for dark mode */
    --transition-duration: 0.3s; /* Smooth transition duration */
}



/* 
▀█████████▄     ▄████████    ▄████████    ▄████████         ▄████████    ▄████████    ▄████████    ▄████████     ███     
  ███    ███   ███    ███   ███    ███   ███    ███        ███    ███   ███    ███   ███    ███   ███    ███ ▀█████████▄ 
  ███    ███   ███    ███   ███    █▀    ███    █▀         ███    ███   ███    █▀    ███    █▀    ███    █▀     ▀███▀▀██ 
 ▄███▄▄▄██▀    ███    ███   ███         ▄███▄▄▄           ▄███▄▄▄▄██▀  ▄███▄▄▄       ███         ▄███▄▄▄         ███   ▀ 
▀▀███▀▀▀██▄  ▀███████████ ▀███████████ ▀▀███▀▀▀          ▀▀███▀▀▀▀▀   ▀▀███▀▀▀     ▀███████████ ▀▀███▀▀▀         ███     
  ███    ██▄   ███    ███          ███   ███    █▄       ▀███████████   ███    █▄           ███   ███    █▄      ███     
  ███    ███   ███    ███    ▄█    ███   ███    ███        ███    ███   ███    ███    ▄█    ███   ███    ███     ███     
▄█████████▀    ███    █▀   ▄████████▀    ██████████        ███    ███   ██████████  ▄████████▀    ██████████    ▄████▀   
                                                           ███    ███                                                    
 */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-size is 16px as a default*/
body {
    font-family: "Manrope", sans-serif;
    line-height: 1.8;
    background-color: var(--clr-bg);
    color: var(--clr-text-body);
}

/* It's easier to manipulate image this way. */
img {
    display: block;
    width: 100%;
}

/* This is a font-family etc. inherit */
input, button, textarea, select {
    font: inherit;
}

/* Balances the headline text if their multi rows */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    color: var(--clr-text-heading);
    font-weight: 800;
    line-height: 1.3;
}

/* Ordered/Unorderd list, excludes the list dots or numbers. */
ol, ul {
    list-style: none;
}

/* a {
    color: var(--clr-text-navigation);
    text-decoration: none;

    &:hover {
        color: var(--clr-primary);
        text-decoration: dotted;
    }
} */



/* 
███    █▄      ███      ▄█   ▄█        ▄█      ███      ▄█     ▄████████    ▄████████ 
███    ███ ▀█████████▄ ███  ███       ███  ▀█████████▄ ███    ███    ███   ███    ███ 
███    ███    ▀███▀▀██ ███▌ ███       ███▌    ▀███▀▀██ ███▌   ███    █▀    ███    █▀  
███    ███     ███   ▀ ███▌ ███       ███▌     ███   ▀ ███▌  ▄███▄▄▄       ███        
███    ███     ███     ███▌ ███       ███▌     ███     ███▌ ▀▀███▀▀▀     ▀███████████ 
███    ███     ███     ███  ███       ███      ███     ███    ███    █▄           ███ 
███    ███     ███     ███  ███▌    ▄ ███      ███     ███    ███    ███    ▄█    ███ 
████████▀     ▄████▀   █▀   █████▄▄██ █▀      ▄████▀   █▀     ██████████  ▄████████▀  
                            ▀                                                        
*/

.container {
    width: 100%;
    margin: auto;
    padding-inline: 1rem;
    
    @media (width > 576px) {
        max-width: 540px;

        @media (width > 768px) {
            max-width: 720px;
            
            @media (width > 992px) {
                max-width: 960px;
            
                @media (width > 1200px) {
                    max-width: 1140px;
                            
                    @media (width > 1400px) {
                        max-width: 1320px;
                        
                        /* @media (width > 1560px) {
                            max-width: 1480px;
                            
                        }   */ 
                    }   
                }   
            }   
        }
    }
}

/* This adds to the direct child, and it's siblings, but not their children. */
.space-y-o5 > * + * {
    margin-top: .5rem;
}
.space-y-1 > * + * {
    margin-top: 1rem;
}
.space-y-2 > * + * {
    margin-top: 2rem;
}
.space-y-3 > * + * {
    margin-top: 3rem;
}
.space-y-4 > * + * {
    margin-top: 4rem;
}

/* Screenreader utility, to hide it from the visual design */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.h1 {
    font-size: 2.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h5 {
    font-size: 1.25rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.d4 {
    font-size: 3.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

/* 18px font-size on text-lg (large) */
.text-lg {
    font-size: 1.125rem;
}

.btn {
    font-size: .9rem;
    padding: .6em 1.5em;
    display: flex;
    gap: .5rem;
    text-wrap: nowrap;
    border-radius: var(--br-m);
    border: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    img {
        height: 1.5rem;
    }
}

.btn-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.btn-white {
    background-color: var(--clr-white-to-gray);
    color: var(--clr-text-navigation);

    box-shadow: 0 0 10px #0000001e, 3px 5px 4px #0000001f;

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--clr-white-to-gray) h s calc(l - 10));
    }
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);

    transition: background-color 150ms;

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--clr-primary) h s calc(l - 10));
    }
}

.toggle {
    --_w: 46px;
    --_h: 24px;
    --_tran: 325ms;

    position: relative;
    flex-shrink: 0;
    width: var(--_w);
    height: var(--_h);
    display: inline-block;
    cursor: pointer;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: var(--clr-gray-600);
        border-radius: 100vw;
    
        transition: all var(--_tran);
    }

    .slider::after {
        position: absolute;
        top: 2px;
        left: 2px;
        content: '';
        height: calc(100% - 4px);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--clr-white);

        transition: all var(--_tran);
    }

    input[type="checkbox"]:checked ~ .slider::after {
        left: calc(100% - var(--_h) + 2px);   
    }
    input[type="checkbox"]:checked ~ .slider {
        background-color: var(--clr-primary);  
    }
}


/* 
███▄▄▄▄      ▄████████  ▄█    █▄  ▀█████████▄     ▄████████    ▄████████ 
███▀▀▀██▄   ███    ███ ███    ███   ███    ███   ███    ███   ███    ███ 
███   ███   ███    ███ ███    ███   ███    ███   ███    ███   ███    ███ 
███   ███   ███    ███ ███    ███  ▄███▄▄▄██▀    ███    ███  ▄███▄▄▄▄██▀ 
███   ███ ▀███████████ ███    ███ ▀▀███▀▀▀██▄  ▀███████████ ▀▀███▀▀▀▀▀   
███   ███   ███    ███ ███    ███   ███    ██▄   ███    ███ ▀███████████ 
███   ███   ███    ███ ███    ███   ███    ███   ███    ███   ███    ███ 
 ▀█   █▀    ███    █▀   ▀██████▀  ▄█████████▀    ███    █▀    ███    ███ 
                                                              ███    ███
*/

.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;


    .fix-logotype {
        display: flex;
        gap: .5rem;
    }

    .skip-link {
        display: inline-block;
        padding: 1rem;
        background-color: var(--clr-bg);
        border: 1px solid var(--clr-primary);
        border-radius: 0 1rem 1rem 0;
        position: absolute;
        left: -100svh;
        top: 10rem;

        transition: var(--transition-general);

        &:focus {
            left: 0;
        }
    }

    .container {
        position: relative;
    }

    .container, .main-menu {
        display: flex;
        align-items: center;
    }

    .darkmode-toggle {
        position: absolute;
        right: 12rem;
        
        display: flex;
        align-items: center;
        gap: 1rem;
        

        p {
            color: var(--clr-text-navigation);
            font-weight: 600;
        }
    }

    .menu-btn {
        display: none;
        background-color: transparent;
        border: 0;
        /* width: 50px;
        aspect-ratio: 1; */
        padding: .5rem;
        padding-right: 0;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        z-index: 9999;
    }
    
    .main-menu {
        width: 100%;
        justify-content: space-between;
        margin-left: 3rem;
        z-index: 1000;
    }

    .nav-link {
        color: var(--clr-text-navigation);
        text-decoration: none;
        font-weight: 600;


        &:hover, 
        &:focus-visible {
            color: var(--clr-primary);
        }
    }


    @media (width <= 992px) {
        
        .menu-btn {
            display: block;
        }
        .container {
            position: static;
        }
        .darkmode-toggle {
            right: 8rem;
        }
        .main-menu {
            position: absolute;
            top: 100%;
            right: 0;
            flex-direction: column-reverse;
            gap: 1rem;
            padding-block: 2rem;
            background-color: var(--clr-bg);

            box-shadow: 0 5px 5px #00000038;
        }
        .nav-link {
            display: inline-block;
            padding: 1rem;
        }
        .hide {
            display: none;
        }

        .menu-btn[aria-expanded="true"] ~ .main-menu {
            animation: openMenu 250ms forwards;
        }
        .menu-btn[aria-expanded="false"] ~ .main-menu {
            animation: closeMenu 250ms forwards;
        }

    }

    @media (width < 540px) {
        .darkmode-toggle {
            right: 4.5rem;
        }
        .darkmode-toggle p {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            white-space: nowrap;
            border-width: 0;
        }
    }
}


/* 
   ▄████████ ███▄▄▄▄    ▄█    ▄▄▄▄███▄▄▄▄      ▄████████     ███      ▄█   ▄██████▄  ███▄▄▄▄      ▄████████ 
  ███    ███ ███▀▀▀██▄ ███  ▄██▀▀▀███▀▀▀██▄   ███    ███ ▀█████████▄ ███  ███    ███ ███▀▀▀██▄   ███    ███ 
  ███    ███ ███   ███ ███▌ ███   ███   ███   ███    ███    ▀███▀▀██ ███▌ ███    ███ ███   ███   ███    █▀  
  ███    ███ ███   ███ ███▌ ███   ███   ███   ███    ███     ███   ▀ ███▌ ███    ███ ███   ███   ███        
▀███████████ ███   ███ ███▌ ███   ███   ███ ▀███████████     ███     ███▌ ███    ███ ███   ███ ▀███████████ 
  ███    ███ ███   ███ ███  ███   ███   ███   ███    ███     ███     ███  ███    ███ ███   ███          ███ 
  ███    ███ ███   ███ ███  ███   ███   ███   ███    ███     ███     ███  ███    ███ ███   ███    ▄█    ███ 
  ███    █▀   ▀█   █▀  █▀    ▀█   ███   █▀    ███    █▀     ▄████▀   █▀    ▀██████▀   ▀█   █▀   ▄████████▀  
*/

@keyframes openMenu {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes closeMenu {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}


/* 
   ▄████████    ▄█    █▄     ▄██████▄   ▄█     █▄   ▄████████    ▄████████    ▄████████    ▄████████ 
  ███    ███   ███    ███   ███    ███ ███     ███ ███    ███   ███    ███   ███    ███   ███    ███ 
  ███    █▀    ███    ███   ███    ███ ███     ███ ███    █▀    ███    ███   ███    █▀    ███    █▀  
  ███         ▄███▄▄▄▄███▄▄ ███    ███ ███     ███ ███          ███    ███   ███         ▄███▄▄▄     
▀███████████ ▀▀███▀▀▀▀███▀  ███    ███ ███     ███ ███        ▀███████████ ▀███████████ ▀▀███▀▀▀     
         ███   ███    ███   ███    ███ ███     ███ ███    █▄    ███    ███          ███   ███    █▄  
   ▄█    ███   ███    ███   ███    ███ ███ ▄█▄ ███ ███    ███   ███    ███    ▄█    ███   ███    ███ 
 ▄████████▀    ███    █▀     ▀██████▀   ▀███▀███▀  ████████▀    ███    █▀   ▄████████▀    ██████████ 
*/

.showcase {
    padding-top: 6rem;
    /* padding-bottom: 4rem; */
    text-align: center;
    background-color: var(--clr-bg);
    background-image: linear-gradient(357deg, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    
    .content {
        padding-bottom: 3rem;
    }

    .market-btns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .store-btn {
        background-color: var(--clr-gray-900);
        width: 100%;
        padding: .5em 1em;
        border-radius: var(--br-l);
        
        img {
            height: 3em;
        }
    }

    .more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .phone-img-container {
        display: none;
    }

    @media (width > 768px) {

        .container {
            position: relative;
        }

        .content {
            width: 43%;
            text-align: start;
            margin-top: 6rem;
        }

        .market-btns {
            flex-direction: row;
        }

        .store-btn {
            padding: 0 1em;
        }

        .more {
            gap: 1rem;
            justify-content: flex-start;
        }

        .phone-img-container {
            display: block;
            width: 60%;

            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    @media (width > 992px) {
        
        .store-btn {
            padding: .3em 1.5em;
        }

        .more {
            margin-top: 11rem;
        }
    }
    
    @media (width > 1200px) {
        padding-top: 10rem;
        text-align: start;

        h1 {
            width: 50%;
        }
        
        .content {
            margin-top: 3rem;
        }

        .more {
            margin-top: 13rem;
        }
    }
    
    @media (width > 1400px) {
        padding-top: 15rem;

        .more {
            margin-top: 15rem;
        }
    }
}


/* 
▀█████████▄     ▄████████    ▄████████ ███▄▄▄▄   ████████▄     ▄████████ 
  ███    ███   ███    ███   ███    ███ ███▀▀▀██▄ ███   ▀███   ███    ███ 
  ███    ███   ███    ███   ███    ███ ███   ███ ███    ███   ███    █▀  
 ▄███▄▄▄██▀   ▄███▄▄▄▄██▀   ███    ███ ███   ███ ███    ███   ███        
▀▀███▀▀▀██▄  ▀▀███▀▀▀▀▀   ▀███████████ ███   ███ ███    ███ ▀███████████ 
  ███    ██▄ ▀███████████   ███    ███ ███   ███ ███    ███          ███ 
  ███    ███   ███    ███   ███    ███ ███   ███ ███   ▄███    ▄█    ███ 
▄█████████▀    ███    ███   ███    █▀   ▀█   █▀  ████████▀   ▄████████▀  
               ███    ███                                              
*/

.logos {
    display: none;
    padding-block: var(--section-spacing);
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    
    .logo-card {
        width: 100%;
        border: 1px solid var(--clr-gray-300);
        padding: 2rem;
        border-radius: var(--br-l);
        display: grid;
        place-items: center;
    }

    @media (width > 768px) {
        display: block;

        .logo-card:nth-last-of-type(-n+2) {
            display: none;
        }
    }
    
    @media (width > 1200px) {
        .container {
            grid-template-columns: repeat(6, 1fr);
        }
        .logo-card:nth-last-of-type(-n+2) {
            display: block;
        }
    }
}


/* 
   ▄████████    ▄████████    ▄████████     ███     ███    █▄     ▄████████    ▄████████    ▄████████ 
  ███    ███   ███    ███   ███    ███ ▀█████████▄ ███    ███   ███    ███   ███    ███   ███    ███ 
  ███    █▀    ███    █▀    ███    ███    ▀███▀▀██ ███    ███   ███    ███   ███    █▀    ███    █▀  
 ▄███▄▄▄      ▄███▄▄▄       ███    ███     ███   ▀ ███    ███  ▄███▄▄▄▄██▀  ▄███▄▄▄       ███        
▀▀███▀▀▀     ▀▀███▀▀▀     ▀███████████     ███     ███    ███ ▀▀███▀▀▀▀▀   ▀▀███▀▀▀     ▀███████████ 
  ███          ███    █▄    ███    ███     ███     ███    ███ ▀███████████   ███    █▄           ███ 
  ███          ███    ███   ███    ███     ███     ███    ███   ███    ███   ███    ███    ▄█    ███ 
  ███          ██████████   ███    █▀     ▄████▀   ████████▀    ███    ███   ██████████  ▄████████▀  
                                                                ███    ███                           
*/

.features {
    text-align: center;
    padding-block: var(--section-spacing);

    .iphone {
        display: none;
    }

    .features-grid {
        display: grid;
        gap: 2rem;
        margin-top: 4rem;
    }

    .feature-card {
        display: flex;
        text-align: start;
        gap: 1rem;
        align-items: flex-start;
    }

    .icon-container {
        background-color: var(--clr-bg-icons);
        padding: 1rem;
        border-radius: var(--br-l);
        flex-shrink: 0;
    }

    @media (width > 768px) {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 3rem;
        }
    }
    
    @media (width > 1200px) {
        text-align: start;
        
        .container {
            display: flex;
            gap: 4rem;
        }

        .iphone {
            display: block;
        }

        .text {
            flex: 1;
        }
    }

    @media (width > 1200px) { 
        .container {
            gap: 10rem;
        }
    }
}










/* 
 ▄████████    ▄████████    ▄████████  ▄██████▄  ███    █▄     ▄████████    ▄████████  ▄█       
███    ███   ███    ███   ███    ███ ███    ███ ███    ███   ███    ███   ███    ███ ███       
███    █▀    ███    ███   ███    ███ ███    ███ ███    ███   ███    █▀    ███    █▀  ███       
███          ███    ███  ▄███▄▄▄▄██▀ ███    ███ ███    ███   ███         ▄███▄▄▄     ███       
███        ▀███████████ ▀▀███▀▀▀▀▀   ███    ███ ███    ███ ▀███████████ ▀▀███▀▀▀     ███       
███    █▄    ███    ███ ▀███████████ ███    ███ ███    ███          ███   ███    █▄  ███       
███    ███   ███    ███   ███    ███ ███    ███ ███    ███    ▄█    ███   ███    ███ ███▌    ▄ 
████████▀    ███    █▀    ███    ███  ▀██████▀  ████████▀   ▄████████▀    ██████████ █████▄▄██ 
                          ███    ███                                                 ▀         
*/













/* 
   ▄████████    ▄████████    ▄████████     ███     ███    █▄     ▄████████    ▄████████    ▄████████ 
  ███    ███   ███    ███   ███    ███ ▀█████████▄ ███    ███   ███    ███   ███    ███   ███    ███ 
  ███    █▀    ███    █▀    ███    ███    ▀███▀▀██ ███    ███   ███    ███   ███    █▀    ███    █▀  
 ▄███▄▄▄      ▄███▄▄▄       ███    ███     ███   ▀ ███    ███  ▄███▄▄▄▄██▀  ▄███▄▄▄       ███        
▀▀███▀▀▀     ▀▀███▀▀▀     ▀███████████     ███     ███    ███ ▀▀███▀▀▀▀▀   ▀▀███▀▀▀     ▀███████████ 
  ███          ███    █▄    ███    ███     ███     ███    ███ ▀███████████   ███    █▄           ███ 
  ███          ███    ███   ███    ███     ███     ███    ███   ███    ███   ███    ███    ▄█    ███ 
  ███          ██████████   ███    █▀     ▄████▀   ████████▀    ███    ███   ██████████  ▄████████▀  
                                                                ███    ███                           
        ▄████████  ▄██████▄   ▄█        ▄█        ▄██████▄   ▄█     █▄  ███    █▄     ▄███████▄      
       ███    ███ ███    ███ ███       ███       ███    ███ ███     ███ ███    ███   ███    ███      
       ███    █▀  ███    ███ ███       ███       ███    ███ ███     ███ ███    ███   ███    ███      
      ▄███▄▄▄     ███    ███ ███       ███       ███    ███ ███     ███ ███    ███   ███    ███      
     ▀▀███▀▀▀     ███    ███ ███       ███       ███    ███ ███     ███ ███    ███ ▀█████████▀       
       ███        ███    ███ ███       ███       ███    ███ ███     ███ ███    ███   ███             
       ███        ███    ███ ███▌    ▄ ███▌    ▄ ███    ███ ███ ▄█▄ ███ ███    ███   ███             
       ███         ▀██████▀  █████▄▄██ █████▄▄██  ▀██████▀   ▀███▀███▀  ████████▀   ▄████▀      
*/















/* 
   ▄████████    ▄████████  ▄█    █▄   ▄█     ▄████████  ▄█     █▄     ▄████████ 
  ███    ███   ███    ███ ███    ███ ███    ███    ███ ███     ███   ███    ███ 
  ███    ███   ███    █▀  ███    ███ ███▌   ███    █▀  ███     ███   ███    █▀  
 ▄███▄▄▄▄██▀  ▄███▄▄▄     ███    ███ ███▌  ▄███▄▄▄     ███     ███   ███        
▀▀███▀▀▀▀▀   ▀▀███▀▀▀     ███    ███ ███▌ ▀▀███▀▀▀     ███     ███ ▀███████████ 
▀███████████   ███    █▄  ███    ███ ███    ███    █▄  ███     ███          ███ 
  ███    ███   ███    ███ ███    ███ ███    ███    ███ ███ ▄█▄ ███    ▄█    ███ 
  ███    ███   ██████████  ▀██████▀  █▀     ██████████  ▀███▀███▀   ▄████████▀  
  ███    ███                                                                    
*/














/* 
                       ▄████████    ▄████████ ████████▄                         
                      ███    ███   ███    ███ ███    ███                        
                      ███    █▀    ███    ███ ███    ███                        
                     ▄███▄▄▄       ███    ███ ███    ███                        
                    ▀▀███▀▀▀     ▀███████████ ███    ███                        
                      ███          ███    ███ ███    ███                        
                      ███          ███    ███ ███  ▀ ███                        
                      ███          ███    █▀   ▀██████▀▄█                       
                                                                                
 ▄████████  ▄██████▄  ███▄▄▄▄       ███        ▄████████  ▄████████     ███     
███    ███ ███    ███ ███▀▀▀██▄ ▀█████████▄   ███    ███ ███    ███ ▀█████████▄ 
███    █▀  ███    ███ ███   ███    ▀███▀▀██   ███    ███ ███    █▀     ▀███▀▀██ 
███        ███    ███ ███   ███     ███   ▀   ███    ███ ███            ███   ▀ 
███        ███    ███ ███   ███     ███     ▀███████████ ███            ███     
███    █▄  ███    ███ ███   ███     ███       ███    ███ ███    █▄      ███     
███    ███ ███    ███ ███   ███     ███       ███    ███ ███    ███     ███     
████████▀   ▀██████▀   ▀█   █▀     ▄████▀     ███    █▀  ████████▀     ▄████▀   
*/












/* 
   ▄████████ ███    █▄  ▀█████████▄     ▄████████  ▄████████    ▄████████  ▄█  ▀█████████▄     ▄████████ 
  ███    ███ ███    ███   ███    ███   ███    ███ ███    ███   ███    ███ ███    ███    ███   ███    ███ 
  ███    █▀  ███    ███   ███    ███   ███    █▀  ███    █▀    ███    ███ ███▌   ███    ███   ███    █▀  
  ███        ███    ███  ▄███▄▄▄██▀    ███        ███         ▄███▄▄▄▄██▀ ███▌  ▄███▄▄▄██▀   ▄███▄▄▄     
▀███████████ ███    ███ ▀▀███▀▀▀██▄  ▀███████████ ███        ▀▀███▀▀▀▀▀   ███▌ ▀▀███▀▀▀██▄  ▀▀███▀▀▀     
         ███ ███    ███   ███    ██▄          ███ ███    █▄  ▀███████████ ███    ███    ██▄   ███    █▄  
   ▄█    ███ ███    ███   ███    ███    ▄█    ███ ███    ███   ███    ███ ███    ███    ███   ███    ███ 
 ▄████████▀  ████████▀  ▄█████████▀   ▄████████▀  ████████▀    ███    ███ █▀   ▄█████████▀    ██████████ 
                                                               ███    ███                                
*/








/* 
   ▄████████  ▄██████▄   ▄██████▄      ███        ▄████████    ▄████████ 
  ███    ███ ███    ███ ███    ███ ▀█████████▄   ███    ███   ███    ███ 
  ███    █▀  ███    ███ ███    ███    ▀███▀▀██   ███    █▀    ███    ███ 
 ▄███▄▄▄     ███    ███ ███    ███     ███   ▀  ▄███▄▄▄      ▄███▄▄▄▄██▀ 
▀▀███▀▀▀     ███    ███ ███    ███     ███     ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   
  ███        ███    ███ ███    ███     ███       ███    █▄  ▀███████████ 
  ███        ███    ███ ███    ███     ███       ███    ███   ███    ███ 
  ███         ▀██████▀   ▀██████▀     ▄████▀     ██████████   ███    ███ 
                                                              ███    ███ 
*/