.btn-dark {
    @include button-colors(--color-dark, --color-light, --color-accent, --color-primary);
}
.btn-primary {
    @include button-colors(--color-primary, --color-secondary, --color-accent, --color-primary);
}
.btn-secondary {
    @include button-colors(--color-secondary, --color-primary, --color-accent, --color-primary);
}
.btn-accent {
    @include button-colors(--color-accent, --color-primary, --color-primary, --color-secondary);
}
.btn-gray {
    @include button-colors(--color-gray, --color-primary, --color-accent, --color-primary);
}
.btn-light {
    @include button-colors(--color-light, --color-primary, --color-accent, --color-primary, --color-primary);
}

.btn-menu {
    @include button-colors(--color-primary, --color-secondary, --color-accent, --color-primary);
}