h1 { 
    color: var(--color-primary); 
}
h2 { 
    color: var(--color-primary); 
}
h3 { 
    color: var(--color-secondary);
}
h4 { 
    color: var(--color-primary);
}
h5 { 
    color: var(--color-primary);
}
h6 {
    color: var(--color-secondary);
}