@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
}
@mixin desktop {
    @media (min-width: 1400px) {
        @content
    }
}
@mixin ultra-wide {
    @media (min-width: 1920px) {
        @content
    }
}


.container {
    width: 100%;

    @include tablet {
        max-width: 720px;
    }
    @include desktop {
        max-width: 1320px;
    }
    @include ultra-wide {
        max-width: 1920px;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
    @include ultra-wide() {
        grid-template-columns: repeat(4, 1fr);
    }
}