.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: .875rem;
    text-align: center;

    padding: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.container {
    
}