@mixin button-colors($bg-color, $text-color, $hover-bg-color, $hover-text-color, $border-color: null, $hover-border-color: null) {
    background-color: var($bg-color);
    color: var($text-color);
    outline: none !important;
    border-color: if($border-color, var($border-color), var($bg-color));
    
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    &:hover {
        background-color: var($hover-bg-color);
        color: var($hover-text-color);
        border-color: if($hover-border-color, var($hover-border-color), var($hover-bg-color));
    }
    &:hover, &:focus, &:active  {
        outline: none !important;
    }
}

@mixin theme-buttons($bg-color, $btn-dark-colors, $btn-primary-colors, $btn-secondary-colors, $btn-accent-colors, $btn-gray-colors, $btn-light-colors) {
    .bg-#{$bg-color} {
        .btn-dark {
            @include button-colors($btn-dark-colors...);
        }
        .btn-primary {
            @include button-colors($btn-primary-colors...);
        }
        .btn-secondary {
            @include button-colors($btn-secondary-colors...);
        }
        .btn-accent {
            @include button-colors($btn-accent-colors...);
        }
        .btn-gray {
            @include button-colors($btn-gray-colors...);
        }
        .btn-light {
            @include button-colors($btn-light-colors...);
        }
    }
}