* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    height: 50svh;
    width: 100%;
}
.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Detta är relevant att använda när man vill ha en del ur en bild (top, bottom, middle etc.)
    object-position: top;
    */
}