.flex {
    display: flex;
    justify-content: space-between;
    padding: .3rem 10rem;
    background-color: #ebebeb;
    width: 100%;
}

.colors {
    
    a {
        text-decoration: none;
        color: black;
        
        &:hover {
            text-decoration: dashed;
            color: gray;
        }
    }
}