p {
    margin: 0;
    padding-top: 0rem;
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    @include heading;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}