@mixin text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none !important;
}

@mixin button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin alternative-way-to-create-a-mixin {
    @include text;
    font-weight: 200;
}