* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Positionering */
.top-nav {
    padding: 2rem;
    background-color: #929292;
}

.main-navigation {
    /* Nav bar funktion */
    
    /* När man använder position fixed, så behöver man ge ytterligare variabler, men den tar även upp all plats i toppen. */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */

    /* Så för att kunna visa något som ligger ovanför nav-baren och ändå ha full funktionalitet så kan man använda sticky, 
    och samtidigt behöver man inte addera lika många variabler, endast vart den ska ligga när man scrollar.*/
    position: sticky;
    top: 0;
    
    /* Här ändrar man top lager prioritering, för att inte andra element ska synas igenom navigeringsbaren. */
    z-index: 10000;

    /* Layout */
    background-color: darkslateblue;
    color: #fff;
    padding: .5rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;


    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.box {
    border: 1px solid #000;
    height: 400px;
    /* width: 400px; */
    /* Istället för att bestämma bredden, så kan man välja att sätta ration istället. */
    /* Bredd & Höjd */
    /* aspect-ratio: 16/9; */
    /* 1/1 och 1 är praktiskt taget samma inställning. Lika bred som den är hög. När det ska vara lika kan man lika gärna korta ner det */
    /* aspect-ratio: 1/1; */
    aspect-ratio: 1;
    margin: 5rem auto;

    position: relative;
}

.ball {
    height: 50px;
    aspect-ratio: 1;
    background-color: blueviolet;
    border-radius: 50%;

    /* Placera bollen i mitten oberoende utav hur stor boxen är. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}