.projects-grid {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
    @include ultra-wide() {
        grid-template-columns: repeat(4, 1fr);
    }
}