* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
    font-weight: 800;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    line-height: .8;
    text-transform: uppercase;
    
}

h2, h3 {
    padding: .5rem;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.container {
    width: 70%;
    margin: 3rem auto;
    height: 100%;
}

.guess-box {
    border: 3px solid #404040;
    background-color: #ffe4a3;
    padding: 1rem;
    min-width: 365px;
}

.right {
    background-color: #599874;
}

.wrong {
    background-color: #ff725a;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: 3px solid #404040;
    padding: 2rem;
    align-items: center;
    background-color: #ffe4a3;


    @media (width > 1200px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.guess-form {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    width: 100%;
    
    @media (width > 768px) {
        display: flex;
        gap: 0;
    }
}

.guess-input {
    flex: 1;
    padding: .5em;
    font-size: 1rem;
    border: 2px solid #599874;
    border-radius: .5em;
    
    @media (width > 768px) {
        border-radius: .5em 0 0 .5em;
    }
}

.btn {
    font-size: 1rem;
    padding: .5em 2em;
    border: 0;
    background-color: #599874;
    color: white;
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    @media (width > 768px) {
        border-radius: 0 .5em .5em 0;
    }
}

.guess-field {
    width: 100%;
    padding-top: .7rem;

    /* max-height: 179px; */
    /* overflow: hidden; */
}

.message {
    margin-bottom: 1rem;
    background-color: #5998747a;
    padding: .8rem;
    border-radius: .5em;
    border: 2px dotted #599874;
}

.hint-box {
    justify-self: left;
    border: 3px dotted #404040;
    width: 100%;
    height: auto;
    margin-top: .8rem;

    padding: 0.7rem;
}

.hint-field {
    text-align: center;
}

.hidden {
    display: none;
}