/* FONT - MANROPE | GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-Regular {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.manrope-SemiBold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.manrope-ExtraBold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* UTILITY VARIABLES */

:root {
    /* COLOUR VARIABLES */
    /* Grayscale */
    --color-gray-100: #f3f6ff; /* Light BG */
    --color-gray-100-hsl: 224, 100%, 97%;
    --color-gray-200: #EFF2FC; /* Secondary */
    --color-gray-300: #E2E5F1; /* Divider, Border */
    --color-gray-400: #D4D7E5; /* Forms Border */
    --color-gray-500: #B4B7C9; /* Input Placeholder */
    --color-gray-600: #9397AD; /* Muted Text */
    --color-gray-700: #565973; /* Body Text */
    --color-gray-800: #33354D; /* Navigation */
    --color-gray-900: #0B0F19; /* Header, Dark */

    /* Brand */
    --color-primary: #6366F1; /* Brand, Primary */
    --color-secondary: #585C7B; /* Some Text */
    --color-gradiant-1: #6366F1; /* 0% */
    --color-gradiant-2: #8B5CF6; /* 50% */
    --color-gradiant-3: #D946EF; /* 100% */
    --color-almostblack-blue: #131022; /* Brand Fill */
    /* System & Buttons */
    --color-red: #EF4444; /* Error */
    --color-green: #22C55E; /* Success */
    --color-yellow: #FFBA08; /* Warning */
    --color-blue: #4C82F7; /* Info */
    --color-black: #000; /* Black Button */
    /* Shadows */
    --color-white: #fff; /* S, M, L */
    --color-brand-btn: #6366F1; /* Brand, Primary */
    /* Logos */
    --color-twitter: #1CA1F2; /* Twitter Blue */
    --color-youtube: #FF0000; /* Youtube Red */

    --container-padding: 1rem;
    --transition-time: all 0.2s;

    /* BACKGROUND VARIABLES */
    /* Something similar was found in a bootstrap css file. */
    --linear-gradient: linear-gradient(170deg, 
    hsla(221, 87%, 95%, 0.2) 0%,
    hsla(293, 82%, 60%, 0.2) 50%,
    hsla(238, 80%, 67%, 0.2) 100%
    );
}

/* BASE SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}


/* UTILITY CLASSES */
.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;    
}

/* BUTTONS CLASSES */

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: .5rem;
}
.btn-download-app {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-download-app:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
}
.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-white);
    color: var(--color-black);
}
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}


/* MOBILE LAYOUT SECTION */

#hero {
    background: var(--linear-gradient);
    
    
    .container {

    }

    .headline {
        text-align: center;
        
        h1 {
            font-size: 56px;

        }
    }

    .content {
        text-align: center;


        p {

        }
        
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        .discover-more {
            
        }
    }
    
    .images {
        display: none;
        

        .img-back {

        }

        .img-front {

        }
    }   
}